*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 600px;
	background-color: #316efc;
}

.container{
	width: 275px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
}

.check{
	position: relative;
	width: 50px;
	height: 300px;
	margin-left: 5px;
	float: right;
	border: none;
	transition: 2s;
}

.check::before{
	display: block;
	width: 275px;
	padding-left: 25px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	background-color: #fe303c;
	transform: rotate(-90deg) translate(-125px, -125px);
	transition: 2s;
}

.b1::before{
	content: '高数复习';
}
.b2::before{
	content: '大英复习';
}
.b3::before{
	content: 'Python复习';
}
.b4::before{
	content: '数据库复习';
}
.b5::before{
	content: '玩儿';
}

.check:hover::before{
	background-color: #fdfd21;
}
.check:checked::before{
	background-color: #31ff77;
}
.check:checked{
	float: left;
}